*{
    margin: 0px;
    padding: 0px;
}

body{
    min-height: 100%;
    background-image: url(imagens/bckgroundimg-g.jpg);
    background-size: cover; /*faz com que a img cubra a tela td*/
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    display: block;
    margin: auto;
    font-size: 2.5em;
    color: #060A01;
    margin-top: 30px;
    margin-bottom: -100px;
}
#container{
    width: 400px;
    height: 400px;
    margin-top: 150px;
    background-color: #060A01;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#container > p {
    margin-top: -80px;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
    text-indent: 30px;
    text-align: justify;
    line-height: 1.25em;
}

#msg > p {
    margin-top: -80px;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
    text-indent: 30px;
    text-align: justify;
    line-height: 1.25em;
}


p > a {
    background-color: green;   
    border-radius: 5px;
}

#numInput > input {
    width: 140px;
    margin: 10px 0px;
   border-radius: 5px;
}

#nameInput > input{
    width: 140px;
    margin: 10px 0px;
    border-radius: 5px;
}

#emailInput > input {
    width: 140px;
    margin: 10px 0px;
    border-radius: 5px;
}

#button {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

#button > button {
    width: 60px;
    height: 20px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
}

@media (max-width: 600px){
    body{
        min-height: 100%;
        background-image: url(imagens/bckgroundimg-p.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        /*configuração para deixar a img correta em qualquer tamanho de tela*/
    }

    h1 {
        font-size: 1.5em;
    }
    #container {
        width: 80%;
        margin: 30 px 30 px;
    }
}

@media (max-width: 800px){
    body{
        min-height: 100%;
        background-image: url(imagens/bckgroundimg-m.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
    }

    h1{
        font-size: 2em;
    }
    
    #container{
        width: 80%;
        margin: 30 px 30 px;
    }
}